pyTelegramBotAPI==4.28.0

rembg==2.0.71
Pillow>=12.1.0

pdf2image==1.17.0
img2pdf==0.6.1

requests==2.32.4
psutil==7.0.0

numpy>=1.26.0
opencv-python-headless>=4.10.0.84

onnxruntime>=1.22.0

python-dotenv>=1.1.1
